/* add google fonts 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.class-main-container {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class-main-container .class-main-container__container {
  display: flex;
  gap: 25px;
  height: 60vh;
  width: 100%;
}

.class-main-container .class-main-container__message {
  margin: 15px 0;
  height: 10vh;
}

.class-main-container
  .class-main-container__message
  .class-main-container__message-text {
  padding: 0 15px;
  border-left: 5px solid #b637fa;
  color: #170b3b;
}

.class-main-container .class-main-container__update-form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000a3;
}

.class-main-container
  .class-main-container__update-form
  .class-participants-form {
  position: relative;
  background: #fff;
  height: 375px;
}

.class-main-container
  .class-main-container__update-form
  .class-participants-form
  .class-participants-form__exit {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: 800;
  color: #170b3b;
}
