button {
  cursor: pointer;
  background: #fff;
  border: 0;
  font-weight: 600;
  border-bottom: 1px solid none;
  padding: 5px 10px;
  border: 2px solid #b637fa;
  color: #170b3b;
}

button:hover {
  color: #b637fa;
}
